@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


/* login */
.loginContainer{
    /* width: 1920px; height: 1080px; */
    width: 100vw; height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginBox{ 
    width: 33vw; /* 640px */
    height: 83vh; /* 900px */
    background-color: #FFFFFF ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.loginBox>img{
    width: 250px;
    margin-top: 64px;
}

.loginInputEmail{
    margin-top: 98px;
    margin-bottom: 23px;
}

.loginBox>div>input{
    width: 320px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
}

.loginBox>.loginInputEmail>p,.loginInputPassword>p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.loginContainer>.loginBox>button{
    width: 320px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    margin-top: 36px;
    cursor: pointer;
}

.loginCheck{
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}

.loginCheck>div{display: flex; justify-content: center;}

.loginCheck>div>svg{
    margin-right: 8px;
}

.loginSignUp{
    width: 320px;
    font-size: 14px;
    margin-top: 176px;
}

.loginSignUp>p{
    float: left;
}

.loginSignUp>a{
    float: right;
    font-weight: bold;
    text-decoration: underline;
}





/* signup */
.signupBox{ 
    width: 33vw; /* 640px */
    height: 83vh; /* 900px */
    background-color: #FFFFFF ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupBox>img{
    width: 195px;
    margin-top: 62px;
}

.signupBox>div>input{
    width: 320px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
}

.signupBox>p{          /* 이메일 가입하기 */
    font-size: 24px;
    margin-top: 44px;
}

.signupInputEmail{
    margin-top: 64px;
}

.signupInputEmail>p,.signupInputPassword>p,.signupPasswordCheck>p{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.signupInputPassword{
    margin-top: 45px;
    margin-bottom: 24px;
}

.signupCheck{
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    margin-bottom: 73px;
    font-size: 14px;
}

.signupCheck>div{display: flex; justify-content: center;}

.signupCheck>div>p{   /* 핑퐁 가입 약관에 모두 동의 합니다. */
    font-size: 12px;
}

.signupCheck>a{   /* 확인하기 */
    font-size: 12px;
    text-decoration: underline;
}

.loginContainer>.signupBox>div>button:first-child{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #231F20;
    border: 1px solid #231F20;
    cursor: pointer;
}
.loginContainer>.signupBox>div>button:first-child>a{
    display: block; 
} /* a태그 inline -> block */

.loginContainer>.signupBox>div>button:last-child{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
}
.signupCologinContainerntainer>.signupBox>div>button:last-child>a{
    display: block; /* ???????????????글씨 클릭 */
    width: 200px;
    height: 50px;
}
.loginContainer>.signupBox>div>button:last-child>a{
    color: #FFFFFF;
}





/* 약관 확인하기 클릭 했을 때 */
.termsbackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #231F2050;
    position: absolute;
}

.termsbackground>div{
    width: 420px;
    height: 420px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.termsbackground>div>.checkAll,div>.checkMust1,div>.checkMust2,div>.checkSelect{
    display: flex;
    margin-bottom: 30px;
    float: left;
}

.termsbackground>div>p:first-child{
    font-size: 24px;
    font-weight: bold;
    margin-top: 37px;
    margin-bottom: 42px;
}

.termsbackground>div>p:last-child{
    font-size: 16px;
    margin-top: 42px;
}

.termsbackground>div>div>a{
    font-size: 12px;
    display: block;
}

.termsbackground>div>button{
    width: 320px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px;
}


.termsbackground{
    display: none;
}




/* signupInfo */
.signupInfoBox{ 
    width: 33vw; /* 640px */
    height: 83vh; /* 900px */
    background-color: #FFFFFF ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signupInfoBox>img{
    width: 195px;
    margin-top: 62px;
}

.signupInfoBox>p{ 
    font-size: 24px;
    margin-top: 44px;
}

.signupInfoBox>div>p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 8px;
}

.signupInfoMemberName>input{
    width: 320px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
}

.signupInfoMemberURL>div>p{
    margin-top: 9px;
    margin-left: 15px;
    font-size: 12px;
}

.signupInfoMemberURL>div>input{
    width: 280px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    margin-top: 11px;
    margin-left: 20px;
}

.signupInfoMemberURL>div{
    width: 320px;
    height: 96px;
    border-radius: 5px;
    border: 1px solid #92B4EC;
}

.urlDoubleCheck{
    background-color: #92B4EC;
    border-radius: 20px;
    width: 100px;
    height: 34px;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.jobCheckboxContainer>p{ 
    font-size: 14px;
    font-weight: bold;
}

.jobCheckboxContainer{
    width: 320px;
    display: flex;
    flex-direction: column;
    float: left;
    font-size: 12px;
    margin-bottom: 30px;
}

.signupInfoBox>button:last-child{
    width: 320px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px;
}

