@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;700&display=swap');


/* login */
.login-container{
    /* width: 1920px; height: 1080px; */
    width: 100vw; height: 100vh;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box{ 
    width: 33vw; /* 640px */
    height: 83vh; /* 900px */
    background-color: #FFFFFF ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.login-box>img{
    width: 250px;
    margin-top: 64px;
}

.login-input-email{
    margin-top: 98px;
    margin-bottom: 23px;
}

.login-box>div>input{
    width: 320px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    padding: 3px;
}

.login-box>.login-input-email>p,.login-input-password>p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 8px;
}

.login-container>.login-box>button{
    width: 320px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    margin-top: 36px;
    cursor: pointer;
}

.login-check{
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 14px;
}

.login-check>div{display: flex; justify-content: center;}

.login-check>div>svg{
    margin-right: 8px;
}

.login-signUp{
    width: 320px;
    font-size: 14px;
    margin-top: 176px;
}

.login-signUp>p{
    float: left;
}

.login-signUp>a{
    float: right;
    font-weight: bold;
    text-decoration: underline;
}





/* signup */
.signup-box{ 
    width: 33vw; /* 640px */
    height: 83vh; /* 900px */
    background-color: #FFFFFF ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-box>img{
    width: 195px;
    margin-top: 62px;
}

.signup-box>div>input{
    width: 320px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    padding: 3px;
}

.signup-box>p{          /* 이메일 가입하기 */
    font-size: 24px;
    margin-top: 44px;
}

.signup-input-email{
    margin-top: 64px;
}

.signup-input-email>p,.signup-input-password>p,.signup-password-check>p{
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 8px;
}

.signup-input-password{
    margin-top: 45px;
    margin-bottom: 24px;
}

.signup-check{
    width: 320px;
    display: flex;
    justify-content: space-between;
    margin-top: 62px;
    margin-bottom: 73px;
    font-size: 14px;
}

.signup-check>div{display: flex; justify-content: center;}

.signup-check>div>p{   /* 핑퐁 가입 약관에 모두 동의 합니다. */
    font-size: 12px;
}

.signup-check>a{   /* 확인하기 */
    font-size: 12px;
    text-decoration: underline;
}

.login-container>.signup-box>div>button:first-child{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #231F20;
    border: 1px solid #231F20;
    cursor: pointer;
}
.login-container>.signup-box>div>button:first-child>a{
    display: block; 
} /* a태그 inline -> block */

.login-container>.signup-box>div>button:last-child{
    width: 200px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    margin-left: 20px;
    cursor: pointer;
}
.login-container>.signup-box>div>button:last-child>a{
    display: block;
    flex-direction: center;
    align-items: center;
    color: #FFFFFF;
}




/* 약관 확인하기 클릭 했을 때 */
.termsbackground{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #231F2050;
    position: absolute;
    display: none;
}

.termsbackground>div{
    width: 420px;
    height: 420px;
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-top: 200px;
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.termsbackground>div>.check-all,div>.check-must1,div>.check-must2,div>.check-select{
    display: flex;
    margin-bottom: 30px;
    float: left;
}

.termsbackground>div>p:first-child{
    font-size: 24px;
    font-weight: bold;
    margin-top: 37px;
    margin-bottom: 42px;
}

.termsbackground>div>p:last-child{
    font-size: 16px;
    margin-top: 42px;
}

.termsbackground>div>div>a{
    font-size: 12px;
    display: block;
}

.termsbackground>div>button{
    width: 320px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px;
}




/* signupInfo */
.signup-info-box{ 
    width: 33vw; /* 640px */
    height: 83vh; /* 900px */
    background-color: #FFFFFF ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-info-box>img{
    width: 195px;
    margin-top: 56px;
}

.signup-info-box>p{ 
    font-size: 24px;
    margin-top: 45px;
}

.signup-info-box>div>p{
    font-size: 14px;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 8px;
}

.signup-info-member-name>input{
    width: 320px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    padding: 3px;
}

.signup-info-memberURL>div>p{
    margin-top: 9px;
    margin-left: 15px;
    font-size: 12px;
}

.signup-info-memberURL>div>input{
    width: 280px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #C5C5C5;
    margin-top: 11px;
    margin-left: 20px;
}

.signup-info-memberURL>div{
    width: 320px;
    height: 96px;
    border-radius: 5px;
    border: 1px solid #92B4EC;
}

.url-double-check{
    background-color: #92B4EC;
    border-radius: 20px;
    width: 100px;
    height: 34px;
    color: #FFFFFF;
    float: right;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
}

.job-checkbox-container>p{ 
    font-size: 14px;
    font-weight: bold;
}

.job-checkbox-container{
    width: 320px;
    display: flex;
    flex-direction: column;
    /* float: left; */
    font-size: 12px;
    margin-bottom: 30px;
}

.job-checkbox>div{
    width: 50%;
    float: left;
    display: flex;
    flex-direction: column;
}

.job-checkbox>div>label>input{
    margin-bottom: 5px;
}

.signup-info-box>button:last-child{
    width: 320px;
    height: 50px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    background-color: #231F20;
    color: #FFFFFF;
    cursor: pointer;
    margin-top: 10px;
}
.signup-info-box>button:last-child>a{
    color: #FFFFFF;
}
