/* 컬러 
: 컬러는 태그에 웬만하면 직접 지정해주세요
혹시 몰라서 클래스로 세팅 해놨습니다.*/
.colormain1{background-color: #5286DC;}
.colorsub1{background-color: #92B4EC;}
.colormain2{background-color: #FFD24C;}
.colorsub1{background-color: #FFE69A;}
.colorgoob{background-color: #FF2F2F;}
.colorwarning{background-color: red;} 

/* 무채색 컬러 */
.monocolor1{background-color: #231F20;}
.monocolor2{background-color: #5C5C5C;}
.monocolor3{background-color: #C5C5C5;}
.monocolor4{background-color: #F0F0F0;}


.manager-container{
    /* width: 1920px; height: 1080px; */
    width: 100vw; height: 100vh;
    background-color: #C5C5C5;
    display: flex;
    align-items: center;
}

.manager-yellow-box{
    width: 20%;
    height: 100%;
    background-color: #FFE69A;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.manager-yellow-box>li>a{
    display: flex;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 52px;
}

.manager-yellow-box>li:first-child{
    margin-top: 300px;
}




.manager-white-box{
    width: 80%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}