/* 컬러 
: 컬러는 태그에 웬만하면 직접 지정해주세요
혹시 몰라서 클래스로 세팅 해놨습니다.*/
.colormain1{background-color: #5286DC;}
.colorsub1{background-color: #92B4EC;}
.colormain2{background-color: #FFD24C;}
.colorsub1{background-color: #FFE69A;}
.colorgoob{background-color: #FF2F2F;}
.colorwarning{background-color: red;} 

/* 무채색 컬러 */
.monocolor1{background-color: #231F20;}
.monocolor2{background-color: #5C5C5C;}
.monocolor3{background-color: #C5C5C5;}
.monocolor4{background-color: #F0F0F0;}



/* 헤더 영역 */
header{
    width: 100%; 
    height: 100px; 
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    position: relative;
    z-index: 1000;
}
header .logo{
    position: absolute; 
    left: 50%; 
    transform: translateX(-100px); 
    user-select: none;
}
header .logo img{
    width: 200px;
}



/* 매니저 메뉴 */
.manager-container{
    /* width: 1920px; height: 1080px; */
    width: 100vw; height: 100vh;
    background-color: #231F20;
    display: flex;
    align-items: center;
    position: fixed; top: 0;
    /* position: fixed; top: 0; left: 0; */
}

.manager-yellow-box{
    width: 10%;
    height: 100%; 
    padding: 500px 100px;
    margin-top: 100px;
    background-color: #FFE69A;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-direction: center;
    align-items: center;
    /* position: relative; */
}

.manager-main-menu{
    font-size: 14px;
    font-weight: bold;
    margin-top: 24px;
    margin-bottom: 24px;
    width: 120px;
    padding: 8px 0;
    border-top: 1px solid #C5C5C5;
    display: flex;
    text-align: center;
    transition-duration: 0.1s;
    user-select: none;
}

.manager-submenu{
    font-size: 14px;
    width: 120px;
    margin-bottom: 24px;
    padding: 8px 16px;
    display: flex;
    text-align: center;
    border-radius: 5px;
    transition-duration: 0.1s;
    user-select: none;
}

.manager-yellow-box a:hover{
    color: #5286DC;
}





.manager-white-box{
    width: 90%;
    height: 100%;
    background-color: #fff;
    display: flex;
    float: right;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.member-summary{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 50px;
}

.member-summary>div{
    height: 50px;
    width: 100px;
    background-color: #C5C5C5;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.manager-member-search{
    float: right;
}

.manager-white-box>input{
    padding: 3px;
}




.manager-summary-wrap{
    width: 90%;
    height: 90%;
    display: flex;
    flex-wrap: wrap;
}

.manager-summary-wrap>div{
    border: 1px solid #5C5C5C;
}






























table{
    border: 1px solid #5C5C5C;
    border-collapse: collapse;
    width: 70%;
    height: 60%;
    margin-top: 16px;
}
td, th{
    border: 1px solid #5C5C5C;
    border-collapse: collapse;
}

.manager-board-number{
    margin-top: 15px;
}

.manager-board-number>a{
    display: inline-block;
    width: 37px;
    height: 37px;
    color: #231F20;
    line-height: 37px;
    text-align: center;
    background: #fff;
    margin-right: 8px;
}