/* 회원 페이지 전체를 감싸고 있는 요소 */
.myPage-content-container{
    display: flex;
    width: 70%;
    min-height: 780px;
    margin: 150px auto;
}


/* ************* 사이드 메뉴 ************* */

/* Tab Menu Area */
*{margin: 0; padding: 0;}
.myPage-left-side-menu>ul{list-style: none;}

.myPage-left-side-menu-group{
    height: 100%;
    padding: 15px; 
    letter-spacing:-0.5px;
}

.myPage-left-side-menu{
    width: 100%;
    list-style: none;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
}

.myPage-left-side-menu > ul > li{
    margin-bottom: 15px;
}

.myPage-left-side-menu > ul > li > a{
    font-size: 16px;
    color:black;
    text-decoration: none;
    width: 200px; height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPage-left-side-menu > ul > li > a:hover{
    background-color: #FFE69A90;
}

.myPage-left-side-menu> ul > li.myPage_modi_is_on > a{
    color:#231F20; 
    background-color: #FFE69A;
}

.myPage-left-side-menu> ul > li.myPage_modi_is_on > div{
    display:block;
}


/* ************* Main Area ************* */
.myPage-content-main-area{
    width: 1100px;
    height: 780px;
    padding: 57px 275px; 
    border: 1px solid #231F20;
    border-radius: 5px;
}

.myPage-content-main-area > div{
    display:none; 
}  
.myPage-content-main-area > div:first-child{
    display:block;
}



/* ************* myPage-content ************** */


/* *** [내 정보 편집] *** */

/* input / p 태그 설정 */
.userName-change>input,.URL-change>div>input,.interest-field>input{
    width: 100%;
    height: 42px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 20px;
}
.userName-change>p,.URL-change>p,.interest-field-container>p{
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}

/* 프로필 사진 */
.profile-change-area{
    display: flex;
    align-items: center;
}
.profile-change-area>span{ 
    display: flex;
    width: 100px;
    height: 100px;
    color: #231F20;
    background-color: #F0F0F0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}
.profile-change-area>span>svg{
    width: 30px;
}
.profile-change-area>div{
    font-weight: bold;
    font-size: 14px;
}
#chooseFile{
    display: flex;
    align-items: flex-end;
}



/* url */
.URL-change>div>p{
    margin-top: 9px; margin-left: 15px; font-size: 12px;
}

.URL-change>div>input{
    width: 90%; height: 42px;
    border-radius: 5px; border: 1px solid #C5C5C5;
    margin-top: 11px; margin-left: 20px; padding: 8px;
}

.URL-change>div{
    width: 100%; height: 96px;
    border-radius: 5px; border: 1px solid #92B4EC;
}

.url-double-check{
    background-color: #92B4EC; border-radius: 20px;
    width: 100px; height: 34px;
    color: #FFFFFF; float: right;
    margin-top: 10px; margin-bottom: 5px;
    font-size: 12px; font-weight: bold; cursor: pointer;
}


/* 관심분야 변경 */
.interest-field-container{
    width: 100%; display: flex;
    flex-direction: column;
    font-size: 12px;
}

.interest-field-container>p{ 
    font-size: 14px; font-weight: bold;
}

.interest-field-container input[type="checkbox"]{
    margin-right: 4px;
}

.interest-field>div{
    width: 33%; float: left;
    display: flex; flex-direction: column;
}
.interest-field>label{margin: 4px;}
.interest-field>div>label>input{
    margin-bottom: 10px;
}





/* *** [프로필 편집] *** */

/* input / p 태그 설정 */
.introduce-change>input,.career-change>input,.certificate-change>input,.tech-field>input{
    width: 100%;
    height: 42px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
    margin-bottom: 10px;
}
.introduce-change>p,.career-change>p,.certificate-change>p,.tech-field-container>p{
    margin-top: 25px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 5px;
}


/* 자격증, SNS */
.tech-field-container{
    width: 100%; display: flex;
    flex-direction: column;
    font-size: 12px;
}
.SNS-container{
    font-size: 12px;
}

.tech-field-container>p,.SNS-container>p{ 
    font-size: 14px; font-weight: bold;
}

.tech-field-container input[type="checkbox"],.SNS-field-container input[type="checkbox"]{
    margin-right: 4px;
}

.tech-field>div{
    width: 33%; float: left;
    display: flex; flex-direction: column;
}

.tech-field>label{margin: 4px;}

.tech-field>div>label>input,.SNS-field>div>label>input{
    margin-bottom: 10px;
}











/* 수정사항 저장 */
.myPage-save{
    display: flex;
    justify-content: center;
}
.myPage-save>button{
    width: 100px;
    height: 35px;
    border-radius: 50px;
    font-size: 12px;
    margin-top: 25px;
}
.myPage-save>button:first-child{
    background-color: #FFD24C;
    margin-right: 20px;
}
.myPage-save>button:last-child{
    background-color: #FFE69A;
}

/* 비밀번호 변경 */
.pwModi-text{
    text-align: center;
    font-weight: bold; font-size: 16px;
}
.pwModi-content{
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}
.pwModi-content>span{
    font-size: 14px;
    font-weight: bold;
}
.nowPw{
    width: 500px;height: 42px;
    border-radius: 5px;
    border : 1px solid #C5C5C5;
    margin-top: 8px;
}
.pwModiBtn{
    margin-top: 25px;
    float: right;
    width: 100px; height: 35px;
    color: white;
    background-color: #92B4EC;
    border-radius: 20px;
}
.pwModi-container{
    display: flex;
}
.secessionContainer{
    display: flex;
    justify-content: center;
}
.secessionTitle{
    text-align: center;
    font-weight: bold; font-size: 16px;
    margin-top: 24px;
}
.terms{
    font-size: 14px; font-weight: bold;
    margin-top: 8px;
}
.termsBox{
    margin-top: 8px;
    width: 500px; height: 120px;
    color: #C5C5C5;
    font-size: 14px;
    padding-left: 16px; padding-top: 12px; padding-right: 95px;
    border-radius: 5px;
    border : 1px solid #C5C5C5
}