<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

    <form action="searchUser/searchSuccess" method="GET">
        <h1>회원정보</h1>
        <table>
            <td>
                <th>회원번호</th>
                <tr>${userNo}</tr>
            </td>
            <td>
                <th>회원아이디</th>
                <tr>${userId}</tr>
            </td>
            <td>
                <th>회원이름</th>
                <tr>${userName}</tr>
            </td>
            <td>
                <th>회원나이</th>
                <tr>${userAge}</tr>
            </td>
        </table>
	</form>
</body>
</html>