/* 컬러 
: 컬러는 태그에 웬만하면 직접 지정해주세요
혹시 몰라서 클래스로 세팅 해놨습니다.*/
.colormain1{background-color: #5286DC;}
.colorsub1{background-color: #92B4EC;}
.colormain2{background-color: #FFD24C;}
.colorsub1{background-color: #FFE69A;}
.colorgoob{background-color: #FF2F2F;}
.colorwarning{background-color: red;} 

/* 무채색 컬러 */
.monocolor1{background-color: #231F20;}
.monocolor2{background-color: #5C5C5C;}
.monocolor3{background-color: #C5C5C5;}
.monocolor4{background-color: #F0F0F0;}






/* 회원 페이지 전체를 감싸고 있는 요소 */
.myPage-content-container{
    display: flex;
    width: 60%;
    min-height: 700px;
    margin: 150px auto;
}




/* ************* 사이드 메뉴 ************* */
*{margin:0; padding:0;}
.myPage-left-side-menu>ul{list-style:none;}

.myPage-left-side-menu-group{
    width: 25%;
    height: 100%;
    border-right: 2px solid #C5C5C5;
    padding:15px; letter-spacing:-0.5px;
}

.myPage-left-side-menu{
    width: 100%;
    list-style: none;
    padding-right: 20px;
    position:relative;
}

.myPage-left-side-menu > ul{
    overflow:hidden;
}

.myPage-left-side-menu > ul > li{
    height: 50px;
    font-size: 18px;
    margin-bottom: 15px;
}

.myPage-left-side-menu > ul > li > a{
    color:black;
    text-decoration: none;
    height: 100%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.myPage-left-side-menu > ul > li > a:hover{
    background-color: #FFE69A90;
    cursor: pointer;
}

.myPage-left-side-menu>ul>li.myInfoModi_is_on>a{
    color:#231F20; 
    background-color: #FFE69A;
}

.myPage-left-side-menu>ul>li.myInfoModi_is_on>div{
    display:block;
}

.myPage-left-side-menu>ul>li>div{
    display:none; 
    position:absolute; 
    top:25px; left:0; 
    color:#231F20; 
    text-align:center; 
    width:250px; height:100px; 
    line-height:100px;
}

.myPage-content-main-area > div{
    display:none; 
}



/* ************ myPage-content ************* */
/* 내 정보 전체 */
.myPage-content-main-area{ 
    width: 75%;
    height: 100%;
    padding: 0px 15px;
    margin-left: 30px;
}

/* 전체 내용 */
.myPage-content-main{
    width:100%; 
    height:100%; 
    color:#231F20; 
    line-height: 50px;
}
.userName-change>input,.URL-change>input,.self-introduce-change>input,.interest-field-change>input{
    width: 817px;
    height: 52px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
}
.userName-change>p,.URL-change>p,.self-introduce-change>p,.interest-field-change>p{
    margin-top: 25px;
    font-weight: bold;
    font-size: 16px;
}

/* 프로필 사진 */
.profile-change-area{
    display: flex;
    align-items: center;
}
.profile-change-area>div{ 
    display: flex;
    width: 100px;
    height: 100px;
    color: #231F20;
    background-color: #F0F0F0;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    position: relative;
}
.profile-change-area>div>img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
} 
.profile-change-area>span>svg{
    width: 30px;
}

/* 관심분야 변경 */
.job-checkbox-container{
    width: 100%; display: flex;
    flex-direction: column;
    font-size: 14px; margin-bottom: 10px;
}
.job-checkbox>div{
    width: 25%; float: left;
    display: flex; flex-direction: column;
}
.job-checkbox>label{
    margin: 4px;
}
.job-checkbox>div>label>input{
    margin-bottom: 5px;
}

/* 수정사항 저장 */
.myPage-save-profile{
    display: flex;
    justify-content: center;
}
.myPage-save-profile>button{
    width: 200px;
    height: 50px;
    background-color: #92B4EC;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 50px;
}






/* 비밀번호 수정 */
.passwordReInput>p{
    margin-top: 25px;
    font-weight: bold;
    font-size: 16px;
}
.passwordReInput>div{
    font-size: 14px;
}
.passwordReInput>div>input{
    width: 817px;
    height: 52px;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
    padding: 8px;
}

/* 수정사항 저장 */
.myPage-save{
    display: flex;
    justify-content: center;
}
.myPage-save>button{
    width: 200px;
    height: 50px;
    background-color: #92B4EC;
    border-radius: 50px;
    font-size: 16px;
    margin-top: 50px;
}

/* 회원 탈퇴 */
.secession{
    margin-top: 25px;
    font-weight: bold;
    font-size: 16px;
}
.secession>button{
    width: 120px;
    height: 24px;
    border: 1px solid #5C5C5C;
    border-radius: 5px;
}



