/* 상단 프로필 영역 */
.personalHome{width: 100%; position: relative;}
.profileBackground{
    width: 100%; height: 500px; background-color: #C5C5C5;
    font-size: 14px; margin-top: 100px;
}
.profilebox{
    width: 840px; height: 400px; background-color: #fff;
    border-radius: 20px; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
}

/* 프로필 왼쪽 구역 */
.profileLeft{
width: 390px; margin: 15px; margin-top: 55px;
display: flex; flex-direction: column; align-items: center;
}
.profileCircle{
    width: 150px; height: 150px; background-color: #C5C5C5; 
    border-radius: 50%; margin-bottom: 30px;
}
.profileName{font-size: 16px; font-weight: bold; margin-bottom: 12px;}
.profileIntroduce{margin-bottom: 17px;}

.followBtn{display: flex; justify-content: space-between; align-items: center;}
.followBtn svg{margin: 6px;}
/* 팔로우 여부에 따라 보이게 할 클래스 */
.nufollow,.followUser{display: none;} /* 둘 다 안보이게 처리 */
.followBtn>svg.followshow{display: block;} /* 팔로우 여부에 따라 다른 아이콘 */

/* 프로필 오른쪽 구역 (탭 넘어가는 부분) */
.profileRight{width: 380px; margin-top: 55px; margin-right: 70px;}
#lnhtab1 .profilelist{
    display: flex; justify-content: space-around;
    border-bottom: 1px solid #5C5C5C; 
    padding-bottom: 15px; margin-bottom: 20px;
}
.profiletab_menu .profilelist li.is_on .btn{font-weight:bold; color:black;}
.profiletab_menu .profilelist .btn{font-size:14px; color: #C5C5C5;}

/* 이거 나중에 글자수 제한 걸어주기 */
.profiletab_menu .cont_area{height: 250px; margin-top:12px; /* overflow: scroll; */}

/* 탭 클릭 안되면 안보이게 */
.profiletab_menu .cont_area .cont{display:none; padding: 0 12px;}
.profiletab_menu .cont_area .cont h4{margin-bottom: 8px;}
.profiletab_menu .cont_area .cont div{width: 360px; margin-bottom: 20px;}

/* 대표 기술 아이콘 추가 할 수 있게 해주기 */
.cont_area img{
    width: 40px; height: 40px; margin-right: 12px;
}
/* 프로필 하단 게시글 구역 */
/* .personalHome{position: relative;} */
.profileContent{width: 100%; display: flex; justify-content: center;}
.posttab_menu{margin-bottom: 100px;}
.postlist{display: flex; font-size: 16px; margin: 50px 0; padding-left: 5px;}
.postlist li{margin-right: 32px;}

.contentBox{
    margin: 0 auto;
    display: grid; grid-template-columns: repeat(4, 1fr);
    max-width: 1200px;
    grid-template-rows: auto; grid-gap: 20px;
} 
.contentBox div{
    width: 300px; height: 300px; 
    border-radius: 20px;
    background-color: #C5C5C5;
}
.posttab_menu .postlist .btn{font-size: 16px;}
.posttab_menu .postlist li.is_on .btn{font-weight:bold; color:black;}
.posttab_menu .postcont_area .postcont{display:none;} 



/* 프로필 편집 버튼 */
.profile-edit-button>a>svg{
    width: 20px;

}


/* 홈 게시글 그리드  */


@media screen and (max-width: 768px) { /* 핸드폰 화면 일 때 */
    .contentBox {
        grid-template-columns: repeat(1, 1fr);
        max-width: 300px;
    }
    .profilebox{
        position: absolute; top: 0; bottom: 0; left: 0%; right: 0;
        margin: auto;
        /* display: flex; */
    }
}
@media screen and (min-width: 768px) { /* 태블릿 화면 일 때 */
    
    .contentBox {
        grid-template-columns: repeat(2, 1fr);
        max-width: 600px;
    }
    
    .profilebox{
        position: absolute; top: 0; bottom: 0; left: 0%; right: 0;
        margin: auto;
        /* display: flex; */
    }
    
}
@media screen and (min-width: 1024px) { /* 웹 기준~1024 */
    .contentBox {
        grid-template-columns: repeat(4, 1fr);
        max-width: 1200px;
    }
    .profilebox{
        position: absolute; margin: 0; top: 50px; left: 18%;
    }
}