/* 회원 페이지 전체를 감싸고 있는 요소 */
.myPage-content-container{
    display: flex;
    width: 70%;
    min-height: 780px;
    margin: 150px auto;
}


/* ************* 사이드 메뉴 ************* */

/* Tab Menu Area */
*{margin: 0; padding: 0;}
.myPage-left-side-menu>ul{list-style: none;}

.myPage-left-side-menu-group{
    height: 100%;
    padding: 15px; 
    letter-spacing:-0.5px;
}

.myPage-left-side-menu{
    width: 100%;
    list-style: none;
    padding-right: 20px;
    position: relative;
    overflow: hidden;
}

.myPage-left-side-menu > ul > li{
    margin-bottom: 15px;
}

.myPage-left-side-menu > ul > li > a{
    font-size: 16px;
    color:black;
    text-decoration: none;
    width: 200px; height: 50px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.myPage-left-side-menu > ul > li > a:hover{
    background-color: #FFE69A90;
}

.myPage-left-side-menu> ul > li.myPage_modi_is_on > a{
    color:#231F20; 
    background-color: #FFE69A;
}

.myPage-left-side-menu> ul > li.myPage_modi_is_on > div{
    display:block;
}


/* Main Area */
.myPage-content-main-area{
    width: 1100px;
    height: 780px;
    padding: 15px; 
    border: 1px solid #231F20;
    border-radius: 5px;
}


.myPage-content-main-area > div{
    display:none; 
}  
.myPage-content-main-area > div:first-child{
    display:block;
}